<header class="main-header">
    <div class="nav-container">
        <div class="logo" routerLink="/">
            <span class="brand-d">DIGITAL</span><span class="brand-s">STORE</span>
        </div>

        <nav class="nav-links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{ 'NAV.HOME' | translate }}
            </a>
            <a routerLink="/products" routerLinkActive="active">
                {{ 'NAV.PRODUCTS' | translate }}
            </a>
        </nav>

        <div class="header-actions">
            <div class="auth-group">
                @if (authService.currentUser()) {
                <div class="user-profile-nav" routerLink="/auth/profile">
                    <img [src]="authService.currentUser()?.avatar || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
                        class="nav-avatar" alt="User">
                    <span>{{ authService.currentUser()?.firstName }}</span>
                </div>

                @if (authService.currentUser()?.role === 'admin'|| authService.currentUser()?.email ===
                'hoxem98460@hilostar.com') {
                <button routerLink="/admin" class="admin-btn">
                    Admin Panel
                </button>
                }

                <button class="btn-logout" (click)="logout()">
                    {{ 'NAV.LOGOUT' | translate }}
                </button>

                } @else {
                <button class="btn-login" routerLink="/auth/login">
                    {{ 'NAV.LOGIN' | translate }}
                </button>
                <button class="btn-register" routerLink="/auth/register">
                    {{ 'NAV.REGISTER' | translate }}
                </button>
                }
            </div>

            <div class="cart-wrapper" routerLink="/cart">
                <img src="img/image.png" alt="Cart" class="cart-icon-img">
                @if (cartCount() > 0) {
                <span class="cart-count">{{ cartCount() }}</span>
                }
            </div>

            <div class="cart-wrapper" routerLink="/compare">
                <i class="fas fa-exchange-alt"></i>
                @if (comparisonService.items().length > 0) {
                <span class="cart-count">{{ comparisonService.items().length }}</span>
                }
            </div>
        </div>

        <div class="language-switcher">
            <button (click)="switchLanguage('ka')" [class.active]="langService.currentLang() === 'ka'">
                <span class="fi fi-ge"></span> ქართული
            </button>

            <button (click)="switchLanguage('en')" [class.active]="langService.currentLang() === 'en'">
                <span class="fi fi-gb"></span> English
            </button>
        </div>
    </div>
</header>