<header class="main-header">
    <div class="nav-container">
        <div class="logo" routerLink="/">
            <span class="brand-d">DIGITAL</span><span class="brand-s">STORE</span>
        </div>

        <nav class="nav-links">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{ 'NAV.HOME' | translate }}
            </a>
            <a routerLink="/products" routerLinkActive="active">
                {{ 'NAV.PRODUCTS' | translate }}
            </a>
        </nav>

        <div class="header-actions">
            <div class="auth-group">
                @if (authService.currentUser()) {
                <div class="user-profile-nav" routerLink="/auth/profile">
                    <img [src]="authService.currentUser()?.avatar || 'https://cdn-icons-png.flaticon.com/512/149/149071.png'"
                        class="nav-avatar" alt="User">
                    <span>{{ authService.currentUser()?.firstName }}</span>
                </div>
                <button class="btn-logout" (click)="logout()">
                    {{ 'NAV.LOGOUT' | translate }}
                </button>
                } @else {
                <button class="btn-login" routerLink="/auth/login">
                    {{ 'NAV.LOGIN' | translate }}
                </button>
                <button class="btn-register" routerLink="/auth/register">
                    {{ 'NAV.REGISTER' | translate }}
                </button>
                }
            </div>

            <div class="cart-wrapper" routerLink="/cart">
                <img src="img/image.png" alt="Cart" class="cart-icon-img">
                @if (cartCount() > 0) {
                <span class="cart-count">{{ cartCount() }}</span>
                }
            </div>
        </div>

        <div class="lang-container">
            <button (click)="langService.changeLang('ka')" [class.active]="langService.currentLang() === 'ka'">KA</button>
            <button (click)="langService.changeLang('en')" [class.active]="langService.currentLang() === 'en'">EN</button>
        </div>
    </div>
</header>