.qr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.qr-modal {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  max-width: 300px;
  color: #333;
}

.qr-container img {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #eee;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.qr-btn {
  background: #2980b9; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.qr-btn:hover {
  background:  #2980b9;
}
img {
  display: block ;
  min-width: 200px;
  min-height: 200px;
  background-color: white; 
}